@import "tailwindcss";

:root{
    color-scheme: light dark;
    --background-color: light-dark(rgb(231, 231, 231), rgb(39, 39, 39));
    --text-color: light-dark(black, white);
    --dictionary-window-color: light-dark(#f2ffb7, #8d946c);
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
}

body{
    background-color: var(--background-color);
    margin: 0;
}

.dictionary_window{
    background-color: var(--dictionary-window-color);
    border: 2px solid #bcbd99;
    padding: 2.5px 5px;
}

@keyframes fallingAnimation{
    from { 
        opacity: 0;
        margin-top: -200px; 
    }
    to { 
        opacity: 1;
        margin-top: 2.5%; 
    }
}

@keyframes risingAnimation{
    from { 
        opacity: 0;
        margin-top: 5%; 
    }
    to { 
        opacity: 1;
        margin-top: 2.5%; 
    }
}